apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: '{{ .Release.Name }}-{{ .Values.version }}'
  name: '{{ .Release.Name }}-{{ .Values.version }}'
  namespace:
    ? .Release.Namespace:
    :
spec:
  replicas: 1
  selector:
    matchLabels:
      app: '{{ .Release.Name }}-{{ .Values.version }}'
  template:
    metadata:
      annotations:
        vpc-lattices-svcs.amazonaws.com/agent-inject: "true"
      labels:
        app: '{{ .Release.Name }}-{{ .Values.version }}'
    spec:
      containers:
        - env:
            - name: PodName
              value: Hello from {{ .Release.Name }}-{{ .Values.version }}
          image: public.ecr.aws/seb-demo/http-server:latest
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - sleep 15
          name: '{{ .Release.Name }}-{{ .Values.version }}'
          securityContext:
            runAsGroup: 1000 #different GID to prevent allow routing from iptable rule
            runAsUser: 0
      terminationGracePeriodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ .Release.Name }}-{{ .Values.version }}'
  namespace:
    ? .Release.Namespace:
    :
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8090
  selector:
    app: '{{ .Release.Name }}-{{ .Values.version }}'
