---
apiVersion: v1
kind: Namespace
metadata:
  name: game-2048
spec: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-2048
  namespace: game-2048
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: game-2048
  template:
    metadata:
      labels:
        app.kubernetes.io/name: game-2048
    spec:
      containers:
        - image: public.ecr.aws/l6m2t8p7/docker-2048
          name: game-2048
          ports:
            - containerPort: 80
              name: http
---
apiVersion: v1
kind: Service
metadata:
  name: game-2048
  namespace: game-2048
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/name: game-2048
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  name: game-2048
  namespace: game-2048
spec:
  ingressClassName: alb
  rules:
    - http:
        paths:
          - backend:
              service:
                name: game-2048
                port:
                  name: http
            path: /
            pathType: Prefix
